@import url('https://fonts.googleapis.com/css?family=Mansalva&display=swap');

body
{
    margin: 0 auto;
}

.header 
{
    height: 60px;
    background-color: rgb(41, 166, 204);
    color: white;
    font-family: 'Mansalva', cursive;
    font-size: 26px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.header img 
{
    width: 50px;
    height: 50px;
}

ul 
{
    margin: 0 auto;
    padding: 10px;
}

ul li 
{
    list-style-type: none;
    width: 100%;
    height: 70px;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin: 10px 0;
    display: flex;
    align-items: center;
}

ul li img 
{
    width: 50px;
    height: 50px;
    margin: 0 10px;
}

.mais 
{
    width: 50px;
    height: 50px;
    position: absolute;
    right: 10px;
    bottom: 20px;
}

.modal
{
    background-color: rgba(0,0,0,.3);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center; 
    justify-content: center;
}

.conteudo
{
    width: 90%;
    background: white;
    box-shadow: 0 0 25px 3px rgba(0,0,0,.6);
    border-radius: 6px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.conteudo h3 
{
    font-family: 'Mansalva', cursive;
    color: rgb(32, 126, 153);
    font-size: 24px;
}

.conteudo form
{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.conteudo form input
{
    padding: 7px 2px;
    border-radius: 4px;
    margin-bottom: 5px;
    width: 90%; 
    border: 1px solid lightgray;
    box-shadow: inset 0 0 3px lightgray;
}

.conteudo form button
{
    background-color: rgb(41, 166, 204);
    color: white;
    font-weight: bold;
    width: 90%;
    padding: 5px 2px;
    border: 1px solid rgb(41, 166, 204);
    border-radius: 3px;
    margin-bottom: 10px;
}

*
{
    box-sizing: border-box;
}